*{margin: 0;padding: 0;border: 0;list-style: none;text-decoration: none;color: inherit;font-weight: normal;font-family: "微软雅黑";box-sizing: border-box;font-style: normal;outline: none;-webkit-tap-highlight-color: transparent;}
body{width: 100%;overflow-x: hidden;background: #ffffff;}
img{vertical-align: middle;max-width: 100%;}
/* 头部 */
.top{width: 100%;height: auto;position: relative;z-index: 2;display: flex;justify-content: space-between;align-items: center;padding: .3rem .3rem;}
.top::before{content: "";position: absolute;top: 0;left: 0;width: 100%;height: 2.35rem;background: linear-gradient(to bottom,#0ecbad,#19cbb1);z-index: 1;}
.top .search{width: 100%;margin-right: .3rem;height: .7rem;line-height: .7rem;border-radius: .7rem;background: #ffffff;position: relative;z-index: 2;display: flex;align-items: center;padding: .1rem .25rem;}
.top .search i{margin-right: .2rem;color: #b0b0b0;font-size: .38rem;flex-shrink: 0;}
.top .search input{font-size: .26rem;width: 100%;}
.top i.scan{flex-shrink: 0;font-size: .42rem;color: #ffffff;position: relative;z-index: 2;}
.top.fixed{position: fixed;width: 100%;top: 0;left: 0;padding: .1rem .3rem;background: linear-gradient(to bottom,#0ecbad,#19cbb1);z-index: 999;}
.top.fixed::before{display: none;}
/* 四宫格快捷导航 */
.quic-nav{width: 100%;height: auto;padding: 0 .3rem;position: relative;z-index: 2; margin-top: 0.5rem;}
.quic-nav ul{width: 100%;padding: .4rem 0;display: flex;justify-content: space-between;align-items: center;background: #ffffff;border-radius: .18rem;box-shadow: 0 .05rem .1rem rgba(240,240,240,.8);}
.quic-nav ul li{width: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column;}
.quic-nav ul li .icon{width: .72rem;height: .72rem;border-radius: .72rem;display: flex;justify-content: center;align-items: center;}
.quic-nav ul li .icon i{font-size: .32rem;color: #ffffff;}
.quic-nav ul li p{font-size: .24rem;color: #333;margin-top: .15rem;margin-bottom: .05rem;}
.quic-nav ul li:nth-child(1) .icon{background: linear-gradient(#71e9c5,#43d197);}
.quic-nav ul li:nth-child(2) .icon{background: linear-gradient(#fbc886,#f6a355);}
.quic-nav ul li:nth-child(3) .icon{background: linear-gradient(#73e6d7,#46d1b4);}
.quic-nav ul li:nth-child(4) .icon{background: linear-gradient(#b9cff8,#84a3f3);}
/* 热门服务 */
.service-hot{width: 100%;height: auto;padding: 0 .3rem;margin-top: .4rem;}
.service-hot .title{width: 100%;height: auto;overflow: hidden;position: relative;display: flex;justify-content: space-between;align-items: center;padding-bottom: .3rem;}
.service-hot .title span{font-size: .36rem;color: #2b2b2b;display: flex;align-items: center;}
.service-hot .title span i{flex-shrink: 0;width: .08rem;height: .36rem;border-radius: .08rem;background: #0bcaab;margin-right: .2rem;}
.service-hot .title a{font-size: .24rem;color: #989898;display: flex;align-items: center;}
.service-hot .title a i{margin-left: .15rem;}
.service-hot .items{width: 100%;display: flex;justify-content: space-between;}
.service-hot .items .block{width: 3.3rem;height: 1.9rem;border-radius: .18rem;display: flex;flex-direction: column;justify-content: center;padding: 0 .25rem 0 .3rem;position: relative;}
.service-hot .items .block:nth-child(1)::before{content: "";position: absolute;right: .15rem;display: block;width: .98rem;height: 100%;background: url(../image/icon-bill.png) center bottom .15rem no-repeat;background-size: .98rem auto;z-index: 1;}
.service-hot .items .block:nth-child(2)::before{content: "";position: absolute;right: .15rem;display: block;width: .98rem;height: 100%;background: url(../image/icon-obu-information.png) center bottom .15rem no-repeat;background-size: .83rem auto;z-index: 1;}
.service-hot .items .block h3{color: #ffffff;font-size: .32rem;font-weight: bold;margin-bottom: .1rem;display: flex;justify-content: space-between;align-items: center;position: relative;z-index: 2;}
.service-hot .items .block h3 i{font-size: .36rem;}
.service-hot .items .block p{font-size: .22rem;margin-bottom: .2rem;color: #ffffff;position: relative;z-index: 2;}
.service-hot .items .block a{flex-shrink: 0;align-self: flex-start;font-size: .18rem;display: inline-block;padding: .02rem .2rem;border-radius: .3rem;background: #ffffff;color: #fcabb1;position: relative;z-index: 2;}
.service-hot .items .block.red{background: linear-gradient(to right bottom,#ffbdc1,#f1747a);}
.service-hot .items .block.purple{background: linear-gradient(to right bottom,#b4b4fe,#7574fc);}
.service-hot .items .block.purple a{color:#a5a5ff}
.service-hot .list{width: 100%;padding-top: .4rem;}
.service-hot .list ul li{display: flex;justify-content: space-between;align-items: center;width: 100%;height: 2.05rem;box-shadow: 0 0 .05rem rgba(240,240,240,.9);border-radius: .18rem;margin-bottom: .25rem;padding: 0 .5rem 0 .4rem;position: relative;overflow: hidden;}
.service-hot .list ul li::before{content: "";display: block;position: absolute;left: -3.5rem;;width: 10rem;height: 5rem;border-radius: 100%;background: #ffffff;transform: rotate(-40deg);z-index: 1;}
.service-hot .list ul li h4 {display: flex;align-items: center;margin-bottom: .2rem;position: relative;z-index: 2;}
.service-hot .list ul li h4 span{font-size: .36rem;color: #2b2b2b;margin-right: .2rem;}
.service-hot .list ul li h4 i{font-size: .22rem;color: #ffffff;border-radius: .07rem;padding: .05rem .15rem;background: #fb5348;position: relative;}
.service-hot .list ul li h4 i::after{content: "";display: block;width: 0;height: 0;border-left: .1rem solid transparent;border-top:.15rem solid #fb5348;border-right: .1rem solid transparent;position: absolute;left: -0.09rem;top: .1rem;}
.service-hot .list ul li p{font-size: .26rem;color: #999999;position: relative;z-index: 2;}
.service-hot .list ul li .r{position: relative;z-index: 2;}
.service-hot .list ul li.one{background: linear-gradient(#eef7ff,#e6f2ff);}
.service-hot .list ul li.two{background: linear-gradient(#feedf5,#fee3ea);}
.service-hot .list ul li.three{background: linear-gradient(#eefef1,#dbf6e5);}
.service-hot .list ul li.four{background: linear-gradient(#eefef1,#18af4a);}
.service-hot .list ul li.one .r{flex-shrink: 0;width: 1rem;height: 100%;background: url(../image/icon-invoice.png) center center no-repeat;background-size: 90% auto;}
.service-hot .list ul li.two .r{flex-shrink: 0;width: 1rem;height: 100%;background: url(../image/icon-update.png) center center no-repeat;background-size: 90% auto;}
.service-hot .list ul li.three .r{flex-shrink: 0;width: 1rem;height: 100%;background: url(../image/icon-road.png) center center no-repeat;background-size: 100% auto;}
.service-hot .list ul li.four .r{flex-shrink: 0;width: 1rem;height: 100%;background: url(../image/icon-payment.png) center center no-repeat;background-size: 90% auto;}

/* 导航 */
.tab-bar-holder{width: 100%;height: 1.15rem;}
.tab-bar{width: 100%;height: auto;overflow: hidden;position: fixed;bottom: 0;left: 0;z-index: 999;background: #ffffff;box-shadow: 0 -.1rem .1rem rgba(240, 240, 240, 0.5);}
.tab-bar ul{width: 100%;display: flex;justify-content: space-between;}
.tab-bar ul li{width: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;height: 1.15rem;}
.tab-bar ul li i{flex-shrink: 0;width: 100%;text-align: center;font-size: .45rem;color: #ababab;}
.tab-bar ul li span{font-size: .20rem;color: #ababab;margin-top: .05rem;}
.tab-bar ul li.on i,.tab-bar ul li.on span{color: #0ecbad;}